body {
    /*margin and padding here to remove gap around edges*/
    margin: 0px;
    padding: 0px;
    background-color:#ddd;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}


a:active {color: #58c;}

/*sticky header wrapper*/
header {
    left: 0;
    top: 0;
    position: fixed;
    margin: 0;
    height: 120px;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fff;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #999;

}

#name-tag {
    width: 300px;
    background-color: #68b;
    color: #fff;
    float: left;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37px;
    font-weight: bold;
    padding: 20px;
    margin-top: 40px;
}

/* default formatting for links in the header */
.header-links {
    margin-top: 85px;
    float: right;
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/*removes underlining and color change on links in header*/
.header-links a:link {
    text-decoration: none;
    color: #666;
}

/*removes underlining and color change on visited links in header*/
.header-links a:visited {
    text-decoration: none;
    color:#666;
}

/* change color of element while cursor is over it*/
.header-links:hover{
    background-color: #ccc;
    color: white;
}

/* move the contact link 20 pixels to the right to compensate for padding*/
#header-contact {
    margin-right: -20px;
    border-left-style: solid;
    border-left-color: #ddd;
}

#header-about {
    border-right-style: solid;
    border-right-color: #ddd;
}

/* padding to the main body of the article in order to keep 
    content out of header and footer*/
.content-wrapper{
    padding-top: 130px;
    padding-bottom: 110px;
    clear:both;
}

/* main text box */
article {
    margin: 35px 15% 35px 15%;
    background-color: white;
    border-color: #999;
    border-style: solid;
    border-width: 2px;
    padding: 25px 35px 25px 35px;
}

/* clearfix hack */
article::after {
    content: "";
    clear: both;
    display: table;
}

/* main text title styling*/
.article-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37px;
    font-weight: bold;
    color: #68b;
    padding-bottom: 25px;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #ddd;
    margin-bottom: 35px;
}

/* default text for body */
.article-text {
    font-size: 20px;
}

/* headshot formatting in index */
#portrait {
    float:left;
    margin-right: 25px;
    margin-bottom: 20px;
}




/* Sticky Footer */
footer {
    clear:both;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #888;
    border-top-style: solid;
    border-width: 10px;
    border-color: #68b;
    padding-top: 25px;
    padding-bottom: 5px;
    color: #eee;
    text-align: center;
}