body {
    /*margin and padding here to remove gap around edges*/
    margin: 0px;
    padding: 0px;
    background-color:#ddd;
    background-image: url("../images/background.png");
    background-repeat: repeat;
}

/*removes underlining and color change on links*/
a:link {
    text-decoration: none;
    color: #666;
}

/*removes underlining and color change on visited links*/
a:visited {
    text-decoration: none;
    color:#666;
}
a:active {color: #58c;}

/*sticky header wrapper*/
header {
    left: 0;
    top: 0;
    position: fixed;
    margin: 0;
    height: 120px;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fff;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #999;

}

#name-tag {
    width: 300px;
    background-color: #68b;
    color: #fff;
    float: left;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 37px;
    font-weight: bold;
    padding: 20px;
    margin-top: 40px;
}

.header-links {
    margin-top: 85px;
    float: right;
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#header-contact {
    padding-right: 0px;
    border-left-style: solid;
    border-left-color: #ddd;
}

#header-about {
    padding-left: 0px;
    border-right-style: solid;
    border-right-color: #ddd;
}

/* padding to the main body of the article in order to keep 
    content out of header and footer*/
article {
    padding-top: 130px;
    padding-bottom: 110px;
    clear:both;
}

/* Sticky Footer */
footer {
    clear:both;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #777;
    border-top-style: solid;
    border-width: 10px;
    border-color: #68b;
    padding-top: 25px;
    padding-bottom: 5px;
    color: #eee;
    text-align: center;
}